body {
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: sans-serif;
    background-color: orange;
}

header {
	margin: 10px 40%;
	text-align: center;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

}
nav {
	margin-top: 50px;
	margin-bottom: 50px;
}

nav ul {
	margin-left: 29%;
	width: 100%;

}

nav ul li {
	float: left;
	margin-right: 20px;
	background-color: white;
	border-radius: 8px;
	list-style: none;
	text-align: center;
	width: 200px;
	padding-top: 5px;
	color: white;
}

nav:after {
	clear: both;
}

li a:hover {
	text-decoration: underline;
}

.main-content {
	background-color: white;
	color: black;
	border-radius: 10px;
	width: 80%;
	margin: 10% 10%;
	min-height: 400px;
	padding-top: 10px;
	text-align: center;
}
.copyright {
	color: white;
	text-align: center;
}
.parkpic {
	display:flex;
}

.park {
	display:inline-flex;
	padding: 8px;
}

#park {
	border-radius: 8px;
}
#parkinfo {
	width: 500px;
	margin: 20px;
}

.details {
	padding: 50px;
}

.weather {
	display: inline-flex;
}

.temps {
	text-align: center;
	padding:5px;
}

.todaypic{
	width: 250px;
	height:250px;
}

.otherDayPic {
	width: 130px;
	height: 130px;
}
.convert {
	padding: 8px;
	text-align: center;
}
#recommend {
	text-align: left;
}

#surveyhead {
	width:800px;
	padding:10px;
	margin: 18px;	
}
.listpic {
	width:350px;
	height:250px;
	border-radius: 18px;
	margin:20px;
}
#votes{
	text-align: center;
	padding:10px;
}


input,
select,
textarea {
    max-width: 280px;
}

.error {
	color: red;
}

.white {
	background-color: white;
}

.red {
	background-color: red;
}

